<div class="auth-header">
    <h1>Reset Password</h1>
    <p>Enter your email to receive a link</p>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <div class="input-wrapper">
            <i>
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <rect width="20" height="16" x="2" y="4" rx="2" />
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" />
                </svg>
            </i>
            <input type="text" formControlName="email" class="form-control" placeholder="Email Address"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        </div>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email is invalid</div>
        </div>
    </div>

    <button [disabled]="submitting" class="auth-btn-primary">
        <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
        Reset Password
    </button>

    <div class="auth-links">
        <a routerLink="../login">Wait, I remember! Login</a>
    </div>
</form>